USE [db_phone]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [nvarchar](255) NOT NULL,
	[ADDRESS] [nvarchar](225) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BATTERY_TYPE]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATTERY_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART_ITEM]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART_ITEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_VARIANT] [int] NOT NULL,
	[ID_CART] [int] NOT NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHARGING_PORT]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHARGING_PORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISCOUNT_CODE]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOUNT_CODE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_RANK] [int] NULL,
	[CODE] [varchar](30) NULL,
	[START_DATE] [date] NULL,
	[EXPIRY_DATE] [date] NULL,
	[PERCENTAGE] [float] NULL,
	[MINIMUM] [float] NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[DISCOUNT_PRODUCT]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOUNT_PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DISCOUNT_PERCENTAGE] [float] NOT NULL,
	[START_DATE] [date] NOT NULL,
	[EXPIRY_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRAPHICS_CHIP]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRAPHICS_CHIP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HEADPHONE_JACK]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HEADPHONE_JACK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PHONE] [int] NULL,
	[IMAGE] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_STATUS] [int] NOT NULL,
	[ID_ORDER] [int] NOT NULL,
	[CREATE_AT] [date] NULL,
	[UPDATE_AT] [date] NULL,
	[TOTAL_AMOUNT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [nvarchar](255) NOT NULL,
	[ID_STATUS] [int] NOT NULL,
	[ID_ADDRESS] [int] NOT NULL,
	[ID_PAYMENT_METHOD] [int] NOT NULL,
	[ID_DISCOUNT_CODE] [int] NOT NULL,
	[TOTAL_DISCOUNT] [float] NOT NULL,
	[TOTAL_AMOUNT] [float] NOT NULL,
	[NOTE] [nvarchar](100) NULL,
	[CREATE_AT] [datetime] NULL,
	[UPDATE_AT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_ITEM]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ITEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_VARIANT] [int] NOT NULL,
	[ID_ORDER] [int] NOT NULL,
	[PRICE] [float] NOT NULL,
	[QUANTITY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_METHOD]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_METHOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONE]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BRAND] [int] NULL,
	[ID_SYSTEM] [int] NULL,
	[ID_CHARGING_PORT] [int] NULL,
	[ID_HEADPHONE_JACK] [int] NULL,
	[ID_BATTERY_TYPE] [int] NULL,
	[ID_WP] [int] NULL,
	[ID_SCREEN] [int] NULL,
	[ID_GRAPHICS] [int] NULL,
	[ID_CATEGORY] [int] NULL,
	[NAME] [nvarchar](50) NULL,
	[CONNECTION] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](225) NULL,
	[SCREEN_SIZE] [float] NULL,
	[PROCESSOR] [nvarchar](255) NULL,
	[RAM] [float] NULL,
	[SELFIE_CAMERA] [nvarchar](255) NULL,
	[MAIN_CAMERA] [nvarchar](255) NULL,
	[BATTERY_CAPACITY] [int] NULL,
	[IS_DELETE] [bit] NULL,
	[CREATE_AT] [date] NULL,
	[UPDATE_AT] [date] NULL,
	[LENGTH] [float] NULL,
	[WIDTH] [float] NULL,
	[HEIGHT] [float] NULL,
	[WEIGHT] [float] NULL,
	[SCREEN_RESOLUTION] [nvarchar](225) NULL,
	[REFRESH_RATE] [int] NULL,
	[MAXIMUM_BRIGHTNESS] [int] NULL,
	[VIDEO_RECORDING] [nvarchar](50) NULL,
	[CPU_SPEED] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RANK]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RANK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PHONE] [int] NOT NULL,
	[ID_USER] [nvarchar](255) NOT NULL,
	[CONTENT] [nvarchar](50) NULL,
	[STARS] [int] NULL,
	[CREATE_AT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCREEN_RESOLUTION]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCREEN_RESOLUTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS_INVOICE]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS_INVOICE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS_ORDER]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS_ORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORAGE]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SYSTEM] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USERNAME] [nvarchar](255) NOT NULL,
	[ID_RANK] [int] NOT NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[ROLE] [bit] NULL,
	[CREATE_AT] [date] NULL,
	[UPDATE_AT] [date] NULL,
	[STATUS] [bit] NULL,
	[AVATAR] [nvarchar](225) NULL,
	[FULLNAME] [nvarchar](40) NOT NULL,
	[PHONE_NUMBER] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VARIANT]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VARIANT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PHONE] [int] NULL,
	[ID_COLOR] [int] NULL,
	[ID_STORAGE] [int] NULL,
	[ID_DISCOUNT_PRODUCT] [int] NULL,
	[QUANTITY] [int] NULL,
	[PRICE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WIRELESS_CHARGING_TECHNOLOGY]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WIRELESS_CHARGING_TECHNOLOGY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WP]    Script Date: 5/30/2024 10:24:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PHONE] [int] NULL,
	[ID_WCT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([USERNAME])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_ADDRESS_USER]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([USERNAME])
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_USER]
GO
ALTER TABLE [dbo].[CART_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CART_ITEM_CART] FOREIGN KEY([ID_CART])
REFERENCES [dbo].[CART] ([ID])
GO
ALTER TABLE [dbo].[CART_ITEM] CHECK CONSTRAINT [FK_CART_ITEM_CART]
GO
ALTER TABLE [dbo].[CART_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CART_ITEM_VARIANT] FOREIGN KEY([ID_VARIANT])
REFERENCES [dbo].[VARIANT] ([ID])
GO
ALTER TABLE [dbo].[CART_ITEM] CHECK CONSTRAINT [FK_CART_ITEM_VARIANT]
GO
ALTER TABLE [dbo].[DISCOUNT_CODE]  WITH CHECK ADD  CONSTRAINT [FK_RANK_DISCOUNT_CODE] FOREIGN KEY([ID_RANK])
REFERENCES [dbo].[RANK] ([ID])
GO
ALTER TABLE [dbo].[DISCOUNT_CODE] CHECK CONSTRAINT [FK_RANK_DISCOUNT_CODE]
GO
ALTER TABLE [dbo].[IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_IMAGE_PHONE] FOREIGN KEY([ID_PHONE])
REFERENCES [dbo].[PHONE] ([ID])
GO
ALTER TABLE [dbo].[IMAGE] CHECK CONSTRAINT [FK_IMAGE_PHONE]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_ORDER] FOREIGN KEY([ID_ORDER])
REFERENCES [dbo].[ORDER] ([ID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_ORDER]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_STATUS_INVOICE] FOREIGN KEY([ID_STATUS])
REFERENCES [dbo].[STATUS_INVOICE] ([ID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_STATUS_INVOICE]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ADDRESS] FOREIGN KEY([ID_ADDRESS])
REFERENCES [dbo].[ADDRESS] ([ID])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_ADDRESS]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DISCOUNT_CODE] FOREIGN KEY([ID_DISCOUNT_CODE])
REFERENCES [dbo].[DISCOUNT_CODE] ([ID])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_DISCOUNT_CODE]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_PAYMENT_METHOD] FOREIGN KEY([ID_PAYMENT_METHOD])
REFERENCES [dbo].[PAYMENT_METHOD] ([ID])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_PAYMENT_METHOD]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_STATUS_ORDER] FOREIGN KEY([ID_STATUS])
REFERENCES [dbo].[STATUS_ORDER] ([ID])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_STATUS_ORDER]
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_USERS] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([USERNAME])
GO
ALTER TABLE [dbo].[ORDER] CHECK CONSTRAINT [FK_ORDER_USERS]
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEM_ORDER] FOREIGN KEY([ID_ORDER])
REFERENCES [dbo].[ORDER] ([ID])
GO
ALTER TABLE [dbo].[ORDER_ITEM] CHECK CONSTRAINT [FK_ORDER_ITEM_ORDER]
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEM_VARIANT] FOREIGN KEY([ID_VARIANT])
REFERENCES [dbo].[VARIANT] ([ID])
GO
ALTER TABLE [dbo].[ORDER_ITEM] CHECK CONSTRAINT [FK_ORDER_ITEM_VARIANT]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_BATTERY_TYPE] FOREIGN KEY([ID_BATTERY_TYPE])
REFERENCES [dbo].[BATTERY_TYPE] ([ID])
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_BATTERY_TYPE]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_BRAND] FOREIGN KEY([ID_BRAND])
REFERENCES [dbo].[BRAND] ([ID])
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_BRAND]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_CATEGORY] FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_CATEGORY]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_CHARGING_PORT] FOREIGN KEY([ID_CHARGING_PORT])
REFERENCES [dbo].[CHARGING_PORT] ([ID])
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_CHARGING_PORT]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_GRAPHICS_CHIP] FOREIGN KEY([ID_GRAPHICS])
REFERENCES [dbo].[GRAPHICS_CHIP] ([ID])
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_GRAPHICS_CHIP]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_HEADPHONE_JACK] FOREIGN KEY([ID_HEADPHONE_JACK])
REFERENCES [dbo].[HEADPHONE_JACK] ([ID])
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_HEADPHONE_JACK]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_SCREEN_RESOLUTION] FOREIGN KEY([ID_SCREEN])
REFERENCES [dbo].[SCREEN_RESOLUTION] ([ID])
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_SCREEN_RESOLUTION]
GO
ALTER TABLE [dbo].[PHONE]  WITH CHECK ADD  CONSTRAINT [FK_PHONE_SYSTEM] FOREIGN KEY([ID_SYSTEM])
REFERENCES [dbo].[SYSTEM] ([ID])
GO
ALTER TABLE [dbo].[PHONE] CHECK CONSTRAINT [FK_PHONE_SYSTEM]
GO
ALTER TABLE [dbo].[RATING]  WITH CHECK ADD  CONSTRAINT [FK_RATING_PHONE] FOREIGN KEY([ID_PHONE])
REFERENCES [dbo].[PHONE] ([ID])
GO
ALTER TABLE [dbo].[RATING] CHECK CONSTRAINT [FK_RATING_PHONE]
GO
ALTER TABLE [dbo].[RATING]  WITH CHECK ADD  CONSTRAINT [FK_RATING_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([USERNAME])
GO
ALTER TABLE [dbo].[RATING] CHECK CONSTRAINT [FK_RATING_USER]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_RANK] FOREIGN KEY([ID_RANK])
REFERENCES [dbo].[RANK] ([ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_RANK]
GO
ALTER TABLE [dbo].[VARIANT]  WITH CHECK ADD  CONSTRAINT [FK_VARIANT_COLOR] FOREIGN KEY([ID_COLOR])
REFERENCES [dbo].[COLOR] ([ID])
GO
ALTER TABLE [dbo].[VARIANT] CHECK CONSTRAINT [FK_VARIANT_COLOR]
GO
ALTER TABLE [dbo].[VARIANT]  WITH CHECK ADD  CONSTRAINT [FK_VARIANT_DISCOUNT_PRODUCT] FOREIGN KEY([ID_DISCOUNT_PRODUCT])
REFERENCES [dbo].[DISCOUNT_PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[VARIANT] CHECK CONSTRAINT [FK_VARIANT_DISCOUNT_PRODUCT]
GO
ALTER TABLE [dbo].[VARIANT]  WITH CHECK ADD  CONSTRAINT [FK_VARIANT_PHONE] FOREIGN KEY([ID_PHONE])
REFERENCES [dbo].[PHONE] ([ID])
GO
ALTER TABLE [dbo].[VARIANT] CHECK CONSTRAINT [FK_VARIANT_PHONE]
GO
ALTER TABLE [dbo].[VARIANT]  WITH CHECK ADD  CONSTRAINT [FK_VARIANT_STORAGE] FOREIGN KEY([ID_STORAGE])
REFERENCES [dbo].[STORAGE] ([ID])
GO
ALTER TABLE [dbo].[VARIANT] CHECK CONSTRAINT [FK_VARIANT_STORAGE]
GO
ALTER TABLE [dbo].[WP]  WITH CHECK ADD  CONSTRAINT [FK_WP_PHONE] FOREIGN KEY([ID_PHONE])
REFERENCES [dbo].[PHONE] ([ID])
GO
ALTER TABLE [dbo].[WP] CHECK CONSTRAINT [FK_WP_PHONE]
GO
ALTER TABLE [dbo].[WP]  WITH CHECK ADD  CONSTRAINT [FK_Wp_WIRELESS_CHARGING_TECHNOLOGY] FOREIGN KEY([ID_WCT])
REFERENCES [dbo].[WIRELESS_CHARGING_TECHNOLOGY] ([ID])
GO
ALTER TABLE [dbo].[WP] CHECK CONSTRAINT [FK_Wp_WIRELESS_CHARGING_TECHNOLOGY]
GO
